/* Style.css */




body{
    background-color: grey; 
    background: url(headerImg.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    font-family: Calibri; 
   color: white; 
    
}
#wrapper {
    padding: 4%;
    padding-right: 50px;
    padding-left: 300px;
margin: 0%;

}
header {

  padding-right: 30px;
  z-index: 9999;
  position: relative;
}

ul{
 margin: 0px;
 padding: 0px;
 list-style: none;
 color: whitesmoke;
 
}

ul li{
  float: right;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 60px;
  opacity: .8;
  line-height: 60px;
  text-align: center;
  font-size: 15px;
}
ul li ul li {
  font-size: 15px;
  display: none;
  border-radius: 60px;
}

ul li:hover ul li{
  display: block;
  
  
}

ul li a{
  text-decoration: none;
  color: white;
  display: block;
  
}

ul li a:hover{
  background-color: lightgrey;
  color: black;
  border-radius: 60px;

}
    
main {
  background-color: black;
  opacity: .4;
  border-radius: 10px;
 padding: 10px;
 margin-right: 95px;
 z-index: 999;
 position: relative;
}

#about {
  padding-right: 40px;

}
h1{
   


}

h2{

}

h6 { 
  padding: 0px;
  margin: 4px;
  

}
p {
  

}

footer img {
padding-top:20px; 
  height: 50px;
padding-left: 10%;
}
